/build/
vendor/
node_modules/
main
swarm/repos/
swarm/main
testzone/original
testzone/testing
remote-helper/head

eth/truffle.js

*.swp
.consciencerc
.envrc

# binaries
swarm/cmd/cmd
benchmarks/net-raw-transfer
benchmarks/p2p-raw-transfer
benchmarks/create-manifest
